/*-- @import 'bower_components/reset-css/reset.css';
tshirt assignment--*/

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.line:after {
  content: ".";
  display: inline-block;
  clear: both;
  visibility: hidden;
}

.line {
    background-image: url('wall.png');
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-left: 65px;
}

.unit .size1of3 {
  position: static;
  width: 30%;
  padding-left: 30px;
}

.size1of3 {
    background-color: transparent;
    color: black;
    display: inline-block;
    margin: 0;
    padding: 50px 20px 100px 20px;
    vertical-align: auto;
  }

.lastUnit {
  background-color: transparent;
  color: red;
  display: inline-block;
  position: relative;
  float: none;
}

.unit {
  padding-right: 10px;
  border: 2px solid black;

}



